NODE_ENV=development # development | production

# MongoDB
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

# App
PORT=8000
DB_URL=mongodb://username:password@localhost:27017/db_name?authSource=db_user # USE A DIFFERENT PORT FOR TEST DB (example: 27018). Use authSource=admin to access with higher privileges
JWT_SECRET= # max 48 characters
