PLATFORM=dev # dev or prod
PORT=8000
DB_URL=mongodb://username:password@127.0.0.1:27017/db_name?authSource=db_user # use authSource=admin to access with higher privileges
JWT_SECRET=string with a max of 48 characters
