@import "tailwindcss";

@theme {
    --color-orange-dark: #d87d4a;
    --color-orange-light: #fbaf85;
    --color-grey-dark: #f1f1f1;
    --color-grey-light: #fafafa;
    --color-black-light: #101010;
}

body {
  font-family: "Manrope", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
}
h1 {
    font-size: 3.5rem;
    line-height: 58px;
    letter-spacing: 2px;
}
h2 {
    font-size: 2.5rem;
    line-height: 44px;
    letter-spacing: 1.5px;
}
h3 {
    font-size: 2rem;
    line-height: 36px;
    letter-spacing: 1.15px;
}
h4 {
    font-size: 1.75rem;
    line-height: 38px;
    letter-spacing: 2px;
}
h5 {
    font-size: 1.5rem;
    line-height: 33px;
    letter-spacing: 1.7px;
}
h6 {
    font-size: 1.125rem;
    line-height: 24px;
    letter-spacing: 1.3px;
}

p {
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 25px;
}
.p-overline, .p-subtitle {
    text-transform: uppercase;
}
.p-overline {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 10px;
}
.p-subtitle {
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 25px;
    letter-spacing: 1px;
}
